/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  color: white;
  text-shadow: 0 0 3px #88eef7;
}
.container{
  display: flex;
  flex-flow: row wrap;
}
section{
  width: 50%;
  padding-right: 10px;
}
h1, div{
  align-self: center;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
html{
  background: url(../img/music-background.gif);
}
h1{
  font-size: 2.65rem;
}
.title{
  margin-bottom: 5px;
  font-style: italic;
  text-decoration: underline;
  font-size: 2.5rem;
}
.songArtist{
  margin: 0;
  font-size: 1.7rem;
}
p{
  margin-top: 10px;
  font-size: 1.3rem;
}
