body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #c0bbbb;
}

h1 {
    color: #333;
}

button {
    background-color: #8000ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #5400b3;
}

#image-container {
    display: flex;
    margin: 20px auto;
}

#random-image {
    max-width: 0%;
    border: 1px solid #ccc;
    border-radius: 5px;
}