*{
    box-sizing: border-box;
}
html{
    height: 100%;
    background-image:url(../images/breakingbad2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
body{
    text-align: center;
    font-family:'Oswald', Helvetica, sans-serif;
}
img{
    height: 200px;
}
button{
    border-radius: 8px;
    font-family:'Oswald', Helvetica, sans-serif;
}